@font-face {
  font-family: G-Abel-n4;
  src: url('../data/fonts.gstatic.com_s_abel_v6_RpUKfqNxoyNe_ka23bzQ2A.ttf');
}
@font-face {
  font-family: G-Montserrat-n4;
  src: url('../data/fonts.gstatic.com_s_montserrat_v7_Kqy6-utIpx_30Xzecmeo8_esZW2xOQ-xsNqO47m55DA.ttf');
}
@font-face {
  font-family: G-Lato-n4;
  src: url('../data/fonts.gstatic.com_s_lato_v11_h7rISIcQapZBpei-sXwIwg.ttf');
}
@font-face {
  font-family: "G-Titillium Web-n4";
  src: url('../data/fonts.gstatic.com_s_titilliumweb_v4_7XUFZ5tgS-tD6QamInJTcTyagQBwYgYywpS70xNq8SQ.ttf');
}
@font-face {
  font-family: G-Oswald-n4;
  src: url('../data/fonts.gstatic.com_s_oswald_v11_uLEd2g2vJglLPfsBF91DCg.ttf');
}
@font-face {
  font-family: "G-PT Sans-n4";
  src: url('../data/fonts.gstatic.com_s_ptsans_v8_UFoEz2uiuMypUGZL1NKoeg.ttf');
}